In [1]:
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

import requests
import pandas as pd
import numpy as np

Nuestros jefes están especialmente interesados en los datos de generación de las energías renovables y no renovables a nivel nacional. 

En concreto, nos piden sacar toda la información para las fechas de 1 de Enero del 2011 hasta el 31 de Diciembre del 2022. De toda la información que tenemos de generación queremos la evolucion de renovable y no renovable. 

Además deberemos incluir una columna nueva identificando si el dato corresponde a energía renovable o no renovable. 


NOTA: nos piden que el código debe estar en una función. Al final deberemos tener un dataframe

In [2]:
url = "https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=year"
response = requests.get(url=url)
datos_2011 = response.json()
response.status_code
response.reason

200

'OK'

In [4]:
datos_2011.keys()

dict_keys(['data', 'included'])

In [10]:
x = pd.DataFrame(datos_2011["included"] [0] ["attributes"] ["values"])

In [11]:
x["tipo_energia"] = datos_2011["included"] [0] ["attributes"] ["title"]

In [12]:
x.head()

          value  percentage                       datetime tipo_energia
0  8.666705e+07    0.310241  2011-01-01T00:00:00.000+01:00    Renovable

In [17]:
# dic_2011 = {}

# for i in range(len(datos_2011["included"])):
#     dic_2011[i] = datos_2011["included"] [i] ["attributes"] ["values"]

In [24]:
dic_2011

{0: [{'value': 86667052.8500005,
   'percentage': 0.31024115642116423,
   'datetime': '2011-01-01T00:00:00.000+01:00'}],
 1: [{'value': 192686769.3500001,
   'percentage': 0.6897588435788357,
   'datetime': '2011-01-01T00:00:00.000+01:00'}]}

Sacaremos la misma información que en el ejericio anterior, pero en este caso por CCAA. 

Para esto necesitaremos los códigos de cada una de las comunidades autónomas que encontraréis en el siguiente diccionario:

cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

Guardad los csv ya que mañana los seguiremos usando en los siguientes pairs