Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [1]:
import pandas as pd
import mysql.connector

In [12]:
class Creacion_SQL:

    def __init__(self, nombre_bbdd, pwd):
        self.nombre_bbdd = nombre_bbdd
        self.pwd = pwd


    def create_DB(self):

        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            password= f'{self.pwd}' 
        )
        print("Conexión realizada con éxito")
        
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE SCHEMA IF NOT EXISTS {self.nombre_bbdd} DEFAULT CHARACTER SET utf8 ;")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)


    def create_insert(self, query):
    

        cnx = mysql.connector.connect(user='root', password=f"{self.pwd}",
                                        host='127.0.0.1', database=f"{self.nombre_bbdd}")

        mycursor = cnx.cursor()
        
        
        try: 
            mycursor.execute(query)
            cnx.commit() 
        
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

    def check_fechas_comunidades(self, query):

           
            cnx = mysql.connector.connect(user='root', password=f'{self.pwd}',
                                        host='127.0.0.1', database=f"{self.nombre_bbdd}")
            mycursor = cnx.cursor()


            
            mycursor.execute(query)
            datos = mycursor.fetchall()
            return datos


    def sacar_id_comunidad(self, comunidad):
    
        cnx = mysql.connector.connect(user='root', password= f'{self.pwd}',
                                    host='127.0.0.1', database=f"{self.nombre_bbdd}",  auth_plugin = 'mysql_native_password')
        mycursor = cnx.cursor()

        try: 
            query_sacar_id_com = f"SELECT idcomunidades FROM comunidades WHERE comunidad = f'{comunidad}'"
            mycursor.execute(query_sacar_id_com)
            id_ = mycursor.fetchall()[0][0]
            return id_
        
        except: 
            return "Sorry, no tenemos esa comunidad en la BBDD y por lo tanto no te podemos dar su id. "
        
    def sacar_id_fecha(self, fecha):
    
        cnx = mysql.connector.connect(user='root', password= f'{self.pwd}',
                                    host='127.0.0.1', database=f"{self.nombre_bbdd}",  auth_plugin = 'mysql_native_password')
        mycursor = cnx.cursor()

        try: 
            query_sacar_id_fecha = f"SELECT idFechas FROM fechas WHERE fecha = f'{fecha}'"
            mycursor.execute(query_sacar_id_fecha)
            id_ = mycursor.fetchall()[0][0]
            return id_
        
        except: 
            return "Sorry, no tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. "

In [3]:
rompe_ralph= Creacion_SQL("ralph", "AlumnaAdalab")

In [4]:
rompe_ralph.create_DB()

Conexión realizada con éxito
CMySQLCursor: CREATE SCHEMA IF NOT EXISTS ralph DEFAUL..

In [5]:
tabla_fechas = """
CREATE TABLE IF NOT EXISTS `ralph`.`Fechas` (
  `idFechas` INT NOT NULL AUTO_INCREMENT,
  `fecha` DATE NOT NULL,
  PRIMARY KEY (`idFechas`))
ENGINE = InnoDB;
"""

tabla_nacional_R_nR = """
CREATE TABLE IF NOT EXISTS `ralph`.`nacional_renovable_no_renovable` (
  `idnacional_renovable_no_renovable` INT NOT NULL AUTO_INCREMENT,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `Fechas_idFechas` INT NOT NULL,
  PRIMARY KEY (`idnacional_renovable_no_renovable`),
  INDEX `fk_nacional_renovable_no_renovable_Fechas_idx` (`Fechas_idFechas` ASC) VISIBLE,
  CONSTRAINT `fk_nacional_renovable_no_renovable_Fechas`
    FOREIGN KEY (`Fechas_idFechas`)
    REFERENCES `ralph`.`Fechas` (`idFechas`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
ENGINE = InnoDB;
"""

tabla_comunidades_R_nR = """
CREATE TABLE IF NOT EXISTS `ralph`.`comunidades_renovable_no_renovable` (
  `idcomunidades_renovable_no_renovable` INT NOT NULL AUTO_INCREMENT,
  `porcentaje` INT NOT NULL,
  `tipo_energia` VARCHAR(45) NOT NULL,
  `valor` DECIMAL NOT NULL,
  `Fechas_idFechas` INT NOT NULL,
  `comunidades_idcomunidades` INT NOT NULL,
  PRIMARY KEY (`idcomunidades_renovable_no_renovable`),
  INDEX `fk_comunidades_renovable_no_renovable_Fechas1_idx` (`Fechas_idFechas` ASC) VISIBLE,
  INDEX `fk_comunidades_renovable_no_renovable_comunidades1_idx` (`comunidades_idcomunidades` ASC) VISIBLE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_Fechas1`
    FOREIGN KEY (`Fechas_idFechas`)
    REFERENCES `ralph`.`Fechas` (`idFechas`)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
  CONSTRAINT `fk_comunidades_renovable_no_renovable_comunidades1`
    FOREIGN KEY (`comunidades_idcomunidades`)
    REFERENCES `ralph`.`comunidades` (`idcomunidades`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
ENGINE = InnoDB;
"""


tabla_comunidades = """
CREATE TABLE IF NOT EXISTS `ralph`.`comunidades` (
  `idcomunidades` INT NOT NULL AUTO_INCREMENT,
  `comunidad` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`idcomunidades`))
ENGINE = InnoDB;
"""

In [6]:
rompe_ralph.create_insert(tabla_fechas)
rompe_ralph.create_insert(tabla_comunidades)
rompe_ralph.create_insert(tabla_nacional_R_nR)
rompe_ralph.create_insert(tabla_comunidades_R_nR)

In [7]:
df_renovables = pd.read_pickle("datos/tipo_energia.pkl")
df_comunidades = pd.read_pickle("datos/datos_comunidades.pkl")

In [27]:
for indice, fila in df_renovables.iterrows(): 
    query_fechas = f"""
            INSERT INTO Fechas (fecha) 
            VALUES ("{fila['fecha']}");
            """
    
    rompe_ralph.create_insert(query_fechas)

In [21]:
query_existe_fecha = f"""
            SELECT DISTINCT fecha FROM Fechas
            """

In [28]:
rompe_ralph.check_fechas_comunidades(query_existe_fecha)

[(datetime.date(2011, 1, 1),),
 (datetime.date(2012, 1, 1),),
 (datetime.date(2013, 1, 1),),
 (datetime.date(2014, 1, 1),),
 (datetime.date(2015, 1, 1),),
 (datetime.date(2016, 1, 1),),
 (datetime.date(2017, 1, 1),),
 (datetime.date(2018, 1, 1),),
 (datetime.date(2019, 1, 1),),
 (datetime.date(2020, 1, 1),),
 (datetime.date(2021, 1, 1),),
 (datetime.date(2022, 1, 1),)]

In [32]:
for indice, fila in df_renovables.iterrows():
    print(fila["fecha"])
    
    id_fecha = rompe_ralph.sacar_id_fecha(fila["fecha"])
    break

2011-01-01 00:00:00

In [31]:
df_renovables.head()

,value,percentage,datetime,tipo_energia,fecha
0,8.666705e+07,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01
1,1.926868e+08,0.69,2011-01-01T00:00:00.000+01:00,No renovable,2011-01-01
2,8.533872e+07,0.30,2012-01-01T00:00:00.000+01:00,Renovable,2012-01-01
3,1.977799e+08,0.70,2012-01-01T00:00:00.000+01:00,No renovable,2012-01-01
4,1.097577e+08,0.40,2013-01-01T00:00:00.000+01:00,Renovable,2013-01-01

In [30]:
id_fecha

'Sorry, no tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. '

In [ ]:
for indice, fila in df_renovables.iterrows():
    id_fecha = rompe_ralph.sacar_id_fecha(fila["fecha"])
    
    query_datos_renovables = f"""
                INSERT INTO nacional_renovable_no_renovable (porcentaje, tipo_energia, valor, Fechas_idFechas) 
                VALUES ("{fila['percentage']}", "{fila['tipo_energia']}", "{fila['value']}", {id_fecha});
                """
    rompe_ralph.create_insert(query_datos_renovables)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos esa fecha en la BBDD y por lo tanto no te podemos dar su id. )' at line 2

In [ ]:
df_renovables.head(1)

,value,percentage,datetime,tipo_energia,fecha
0,86667052.85,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01

In [ ]:
for indice, fila in df_renovables.iterrows():
    
    id_comunidad = sacar_id_comunidad(fila['comunidad'])
    id_fecha = sacar_id_fecha(fila["fecha"])
    
    query_medidas = f"""
                INSERT INTO mediciones (cloudcover, lifted_index, prec_type, prec_amount, temp2m, rh2m, weather, wind_direction, wind_speed, seeing, transparency, idtiempo, idlocalidad) 
                VALUES ({fila["cloudcover"]}, {fila['lifted_index']}, "{fila['prec_type']}", {fila['prec_amount']},{fila['temp2m']},{fila['rh2m']}, "{fila['weather']}","{fila['wind10m.direction']}",{fila['wind10m.speed']}, {fila['seeing']}, {fila['transparency']}, {id_fecha}, {id_ciudad});
                """
    rompe_ralph.create_insert(query_medidas)