In [1]:
import requests
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [15]:
pd.options.display.float_format = '{:.2f}'.format

En la lección de hoy aprendimos como transformar nuestros datos para que estén preparados para almacearlos en una BBDD. En este momento tenemos dos fuentes de datos:
1. El csv donde tenemos la información censal de cada Comunidad Autónoma tiene algunas columnas que no son redundantes para nuestro análisis, en este csv tendremos que:
    - Eliminar la columna de Comunidades_y_Ciudades_Autónomas

In [2]:
df_comunidades = pd.read_csv("datos/poblacion_comunidades.csv", index_col=0)
df_comunidades.head(1)

  Comunidad  indice Comunidades_y_Ciudades_Autónomas   Año   Total
0     Ceuta    8744                            Ceuta  2022  83.117

In [3]:
df_comunidades.drop("Comunidades_y_Ciudades_Autónomas", axis= 1, inplace= True)

In [4]:
df_comunidades.head(1)

  Comunidad  indice   Año   Total
0     Ceuta    8744  2022  83.117

2. En el csv con la información de generación de energías renovables y no renovables a nivel nacional deberéis:
    - Para las columnas value y percentage, redondear los decimales de los valores a 2.

In [16]:
df = pd.read_csv("datos/tipos_energia.csv", index_col= 0)
df.head(1)

        value  percentage                       datetime tipo_energia
0 86667052.85        0.31  2011-01-01T00:00:00.000+01:00    Renovable

In [17]:
df["value"] = round(df["value"], 2)
df["percentage"] = round(df["percentage"], 2)
df.head(2)

         value  percentage                       datetime  tipo_energia
0  86667052.85        0.31  2011-01-01T00:00:00.000+01:00     Renovable
1 192686769.35        0.69  2011-01-01T00:00:00.000+01:00  No renovable

In [14]:
df.head(1)

         value  percentage                       datetime tipo_energia
0  86667052.85        0.31  2011-01-01T00:00:00.000+01:00    Renovable

In [12]:
df.iloc[18]

value                            110605198.34
percentage                               0.44
datetime        2020-01-01T00:00:00.000+01:00
tipo_energia                        Renovable
Name: 18, dtype: object

In [9]:
df.sample(20)

           value  percentage                       datetime  tipo_energia
9   1.733657e+08        0.65  2015-01-01T00:00:00.000+01:00  No renovable
18  1.106052e+08        0.44  2020-01-01T00:00:00.000+01:00     Renovable
20  1.214591e+08        0.47  2021-01-01T00:00:00.000+01:00     Renovable
22  1.165831e+08        0.42  2022-01-01T00:00:00.000+01:00     Renovable
0   8.666705e+07        0.31  2011-01-01T00:00:00.000+01:00     Renovable
6   1.078761e+08        0.40  2014-01-01T00:00:00.000+01:00     Renovable
13  1.776949e+08        0.68  2017-01-01T00:00:00.000+01:00  No renovable
14  1.003444e+08        0.38  2018-01-01T00:00:00.000+01:00     Renovable
15  1.606375e+08        0.62  2018-01-01T00:00:00.000+01:00  No renovable
10  1.010892e+08        0.39  2016-01-01T00:00:00.000+01:00     Renovable
2   8.533872e+07        0.30  2012-01-01T00:00:00.000+01:00     Renovable
23  1.597322e+08        0.58  2022-01-01T00:00:00.000+01:00  No renovable
8   9.408811e+07        0.35  2015-01-01T00:00:00.000+01:00     Renovable
3   1.977799e+08        0.70  2012-01-01T00:00:00.000+01:00  No renovable
17  1.629155e+08        0.62  2019-01-01T00:00:00.000+01:00  No renovable
11  1.607465e+08        0.61  2016-01-01T00:00:00.000+01:00  No renovable
21  1.385520e+08        0.53  2021-01-01T00:00:00.000+01:00  No renovable
7   1.586356e+08        0.60  2014-01-01T00:00:00.000+01:00  No renovable
12  8.461087e+07        0.32  2017-01-01T00:00:00.000+01:00     Renovable
5   1.635286e+08        0.60  2013-01-01T00:00:00.000+01:00  No renovable

    - La columna datetime es de tipo string, pero esto a nosotras no nos interesa. Además, en esta columna tiene tanto la fecha como la hora, pero en realidad la hora no nos esta aportando nada de información, es por esto que:
        - Deberéis crear una columna nueva donde solo tengamos la información de la fecha en formato AÑO / MES / DIA.
        - Una vez creada la columna anterior, convertirla a datetime.

In [14]:
df["fecha"] = df["datetime"]

In [17]:
df["fecha"] = df["fecha"].apply(lambda tiempo: tiempo.split("T")[0])
df["fecha"] = df["fecha"].apply(pd.to_datetime)

In [18]:
df.head(2)

,value,percentage,datetime,tipo_energia,fecha
0,8.666705e+07,0.31,2011-01-01T00:00:00.000+01:00,Renovable,2011-01-01
1,1.926868e+08,0.69,2011-01-01T00:00:00.000+01:00,No renovable,2011-01-01

In [19]:
df.dtypes

value                  float64
percentage             float64
datetime                object
tipo_energia            object
fecha           datetime64[ns]
dtype: object

3. En el csv con la información de generación de energías renovables y no renovables a nivel de comunidad autónoma deberéis aplicar los mismos cambios que aplicamos en el ejercicio anterior.

In [20]:
df_energia_com = pd.read_csv("datos/energia_comunidades.csv", index_col= 0)
df_energia_com.head(2)

,value,percentage,datetime,tipo_energia,comunidad,cod_comunidad
0,202972.8930,1.000000,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,8744
1,3589.0825,0.016703,2011-01-01T00:00:00.000+01:00,Renovable,Melilla,8745

In [21]:
df_energia_com["value"] = round(df_energia_com["value"], 2)
df_energia_com["percentage"] = round(df_energia_com["percentage"], 2)
df_energia_com.head(2)

,value,percentage,datetime,tipo_energia,comunidad,cod_comunidad
0,202972.89,1.00,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,8744
1,3589.08,0.02,2011-01-01T00:00:00.000+01:00,Renovable,Melilla,8745

In [22]:
df_energia_com["fecha"] = df_energia_com["datetime"]
df_energia_com["fecha"] = df_energia_com["fecha"].apply(lambda tiempo: tiempo.split("T")[0])
df_energia_com["fecha"] = df_energia_com["fecha"].apply(pd.to_datetime)
df_energia_com.head(2)

,value,percentage,datetime,tipo_energia,comunidad,cod_comunidad,fecha
0,202972.89,1.00,2011-01-01T00:00:00.000+01:00,No renovable,Ceuta,8744,2011-01-01
1,3589.08,0.02,2011-01-01T00:00:00.000+01:00,Renovable,Melilla,8745,2011-01-01

- Guardar los resultados obtenidos en pickle que usaremos en próximos ejercicios de pair programming. Cada fichero debe ir en un pickle

In [23]:
df.to_pickle('datos/tipos_energia_pick.pkl')
df_energia_com.to_pickle('datos/energia_comunidades_pick.pkl')